<div class="auth-container">
  <div class="auth-card">
    <img src="/assets/images/logo.svg" class="logo" alt="Logo" />
    <h2>Reset Password</h2>
    <p>Enter your new password below.</p>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <label>New Password</label>
      <div class="password-wrapper">
        <input
          id="formNewPassword"
          [type]="showFormNewPassword ? 'text' : 'password'"
          [(ngModel)]="formNewPassword"
          type="password"
          placeholder="New Password"
          formControlName="newPassword"
        />
        <button
          type="button"
          class="toggle-password"
          (click)="showFormNewPassword = !showFormNewPassword"
          aria-label="Toggle password visibility"
        >
          <img
            [src]="
              showFormNewPassword
                ? '/assets/images/icon-hide-password.svg'
                : '/assets/images/icon-show-password.svg'
            "
            alt="Toggle password visibility"
            class="toggle-password-icon"
          />
        </button>
      </div>
      <label>Confirm New Password</label>
      <div class="password-wrapper">
        <input
          id="formNewPassword"
          [type]="showFormConfirmPassword ? 'text' : 'password'"
          [(ngModel)]="formConfirmPassword"
          type="password"
          placeholder="Confirm Password"
          formControlName="confirmPassword"
        />
        <button
          type="button"
          class="toggle-password"
          (click)="showFormConfirmPassword = !showFormConfirmPassword"
          aria-label="Toggle password visibility"
        >
          <img
            [src]="
              showFormNewPassword
                ? '/assets/images/icon-hide-password.svg'
                : '/assets/images/icon-show-password.svg'
            "
            alt="Toggle password visibility"
            class="toggle-password-icon"
          />
        </button>
      </div>
      <div class="error" *ngIf="form.errors?.['mismatch']">
        Passwords do not match.
      </div>

      <button type="submit" [disabled]="form.invalid">Reset Password</button>
    </form>

    <p class="auth-footer">
      <a routerLink="/login">Back to Login</a>
    </p>
  </div>
</div>
